*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100vh;
  padding: 10px 0;
  margin: 10px auto;
  margin-top: 5%;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  z-index: 1;
  flex-direction: column;
  position: relative; /* 추가 */
}
.square{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 100vh;
  background-color: #62A0D9;
  box-shadow: 10px 10px #302F2F;
  border: 5px solid #616161;

  z-index: 1;
}

.context_square{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 80vh;
  padding: 0 auto;
  margin: 0 auto;
  background-color: white;
  border: 5px solid #616161;
}

.button_container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  /* width: 100vh; */
  /* margin-left: 30% ; */
}

.button_container button {

  position: relative;
  margin: 0;
  cursor: pointer;
  z-index: 1;
  
}

.button_container button::before {
  content:"";
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  z-index:-1;
  background:#6A748C;
  border: 5px solid #616161;
  border-bottom:none;
  border-radius: .5em .5em 0 0;
  transform:perspective(.5em) rotateX(5deg);
  transform-origin: bottom;
  
}

/* Button */

.button {
  font-family: "Pretendard-Regular";
  float: left;
  min-width: 130px;
  max-width: 250px;
  min-height: 60px;
  background: none;
  color: white;
  position: absolute;
  border: none;
  text-align: center;
  
}

.button_size_s {
  text-align: center;
  font-size: 1.2em;
  margin: 10px;
  padding-top: 20px;
}


/* content */

.active_content {
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard-Regular";
  font-size: 2em;
  padding: 0;
  width: 100%;
}
