*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1600px;
  height: 1000px;
  margin: 100px auto 0;
}

.square{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 90vh;
  padding: 10px;
  background-color: #62A0D9;
  box-shadow: 10px 10px #302F2F;
  border: 5px solid #616161;
}

.context_square{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 80vh;
  padding: 0;
  background-color: white;
  border: 5px solid #616161;
}
/* .button_container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
} */

.button_container button {
  position: relative;
  display: inline-block;
  padding: .3em 1em 0;
  cursor: pointer;
}

.button_container button::before {
  content:"";
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  z-index:-1;
  background:#6A748C;
  border: 5px solid #616161;
  border-bottom:none;
  border-radius: .5em .5em 0 0;
  transform:perspective(.5em) rotateX(5deg);
  transform-origin: bottom;
}

/* Button */

.button {
  font-family: "Pretendard-Regular";
  float: left;
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 0;
  padding: 1rem;
  background: none;
  color: white;
  border: none;
  text-align: center;
  position: relative;
}

.button_size_s {
  font-size: 1.7em;
}


/* content */

.content {
  display: none;
  flex-direction: column;
  width: 100%;
}


.active_content {
  display: block;
  text-align: center;
  justify-content: center;
  font-family: "Pretendard-Regular";
  font-size: 2em;
  padding: 0;
  width: 100%;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.content p {
  width: 100%;
  height: 100%;
}
