.container {
  max-width: 1600px;
  height: 620px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  background-color: #f7b52c;
}

.inner_container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 90%;
}
