/* 모달창을 화면 중앙. 최상단에 노출 */

  /* 모달창 내부 X버튼 */
  .close {
    right: 10px;
    top: 10px;
    z-index: 999;
    border: none;
    color:white;
    background: #F7B52C;
    font-size: 1em;
  }


.modal_square {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40vw;
  min-height: 75vh;
  /* margin-left: 10%;
  margin-top: -90%; */
  background: #F7B52C;
  border:3px solid #F7B52C;
  border-radius: 20px;
  z-index: 2;
}
.modal_line {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.modal_text {
  margin-bottom: 10px;
  font-size: 0.8em;
  color: white;
  margin-top: 10px;
  font-family: "Pretendard-Regular";
}
.modalsize {
  height: 62vh;
  overflow-y: auto;
  display: flex;
  width: 40vw;
}