* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container {
    position: relative;
    display: inline-block;
    text-align: justify;
    justify-content: center;
    width: 90%;
    height: 80vh;
    font-family: "Pretendard-Regular";
    font-size: 2rem;
    padding: 30px auto;
}

.container h2 {
    text-align: center;
    margin: 20px;
    font-size: 1.5em;
}

.content_scroll {
    position: relative;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    max-height: 60vh; /* 원하는 높이로 설정 */
    overflow-x: hidden;
    padding: 0 auto;
    /* padding-right: 10px; */
    width: 100%;
    margin: 0 auto;
}
.square_rule {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
}


.rule {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
    width: 90%;
    height: 10vh;
    background: #EAEAEA;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    align-items: center;
}


.wrap .chat {
    display: flex;
    align-items: flex-start;
    padding: 20px;
  }
  
  .wrap .chat .icon {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee;
  }
  
  .wrap .chat .icon i {
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 2.5rem;
    color: #aaa;
    transform: translateX(-50%);
  }
  
  .wrap .chat .textbox {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 70px);
    padding: 10px;
    margin-top: 7px;
    font-size: 13px;
    border-radius: 10px;
    font-family: "Pretendard-Regular";
    font-size: 1rem;
  }
  
  .wrap .chat .textbox::before {
    position: absolute;
    display: block;
    top: 0;
    font-size: 1.5rem;
  }
  
  .wrap .ch1 .textbox {
    margin-left: 20px;
    background-color: #9bbbdb;
  }
  
  .wrap .ch1 .textbox::before {
    left: -15px;
    content: "◀";
    color: #9bbbdb;
  }
  
  .wrap .ch2 {
    flex-direction: row-reverse;
  }
  
  .wrap .ch2 .textbox {
    margin-right: 20px;
    background-color: #F9EB54;
  }
  
  .wrap .ch2 .textbox::before {
    right: -15px;
    content: "▶";
    color: #F9EB54;
  }