.total {
  background-color: #f3efef;
  margin-top: 100px;
}

.footer {
  width: 100%;
  max-width: 1600px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.inner_footer {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
}

.left_div {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.voicescout {
  display: block;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  cursor: pointer;
}

.ssafy {
  display: block;
  height: 50px;
  width: 63px;
  box-sizing: border-box;
  cursor: pointer;
}

.center_div {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center_div p {
  font-size: 0.9em;
}

.center_inner_div {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.center_inner_div p {
  display: inline-block;
}

.center_div p {
  margin: 0px;
}

.right_div {
  width: 20%;
  height: 84%;
  display: flex;
  align-items: flex-end;
}

.ground {
  padding-top: 5px;
  margin: 5px;
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px gray;
}

.gitlab {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 80%;
  width: 80%;
  cursor: pointer;
}

.jira {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 80%;
  width: 70%;
  cursor: pointer;
}

.notion {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 78%;
  width: 78%;
  cursor: pointer;
}
