button {
  cursor: pointer;
}

/** 통화 시작 전 레이아웃 css*/

.ready_container {
  max-width: 2000px;
  height: 100vh;
  margin-left: 0 auto;
  margin-right: 0 auto;
  font-size: 1em;
  background-color: #ececec;
}
.container {
  margin: 0 auto;
  max-width: 90vw;
  height: 70vh;
  padding: 0 auto;
}


.inner_container {
  justify-content: center;
  padding: 0 auto;
}

.header {
  padding-top: 5vh;
  font-family: "Pretendard-SemiBold";
  font-size: 2em;
  font-style: italic;
  color: #000000;
}

.header_guide {
  font-family: "Pretendard-Regular";
  font-size: 1.3em;
  color: #959595;
}

.contents {
  margin-top: 4vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #787878;
  white-space: pre-line;
  width: 100%;
}
.contents_first {
  width: 150px;
  height: 120px;
}

.contents_second {
  align-items: center;
}

.contents_second p {
  font-family: "Pretendard-SemiBold";
  font-size: 2em;
  color: #ffffff;
}

.locked {
  background-color: #f7b52c;
  font-size: 1.4em;
  height: 4vh;
  color: #ffffff;
  margin-top: 0.5vh;
  padding-left: 1.5vh;
}

.contents_third {
  font-family: "Pretendard-Regular";
  color: #ffffffc6;
  font-size: 1.2em;
}

.information {
  display: flex;
  height: 30vh;
  margin-top: 5vh;
  margin-right:0 auto;
  align-items: center;
}

.blank {
  width: 25vh;
}

.information_button {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-left: 3vh;
  margin-right: 3vh;
}

.roles {
  position: relative;
}
.subrole_position {
  position: absolute;
  width: 100px;
  top: -9vh;
  font-size: 2em;
  font-style: italic;
  z-index: 1;
}

.mainrole_position {
  position: absolute;
  left: 2vh;
  top: -6vh;
  z-index: 0;
  width: 100px;
  font-size: 2em;
  font-style: italic;
}
.main_role {
  z-index: 1;
  font-family: "Pretendard-ExtraBold";
  color: #000000;
  transition: 0.5s;
}

.sub_role {
  z-index: 0;
  font-family: "Pretendard-ExtraBold";
  color: #d9d9d9;
  transition: 0.5s;
}

.settings {
  margin-top: 10vh;
  width: 30px;
}

.settings img {
  width: 30px;
  height: 30px;
  margin-top: 1vh;
  margin-left: 0;
  cursor: pointer;
}

.btn_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
}

.setting_btn {
  width: 100px;
  height: 40px;
  background-color: #2ccbf7;
  border-radius: 15px;
  font-family: "Pretendard-Bold";
  font-size: 1.2em;
}

.start_btn {
  width: 150px;
  height: 50px;
  background-color: #f7b52c;
  border-radius: 15px;
  font-family: "Pretendard-Bold";
  font-size: 1.5em;
}

.out_btn {
  width: 100px;
  height: 40px;
  background-color: #787878;
  border-radius: 15px;
  color: #ffffff;
  font-family: "Pretendard-Bold";
  font-size: 1.2em;
}

/** 통화 시작 시 레이아웃 css*/

.simul_container {
  background-image: url(img/phone_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
.simul_typerole {
  text-align: center;
}

.simul_type {
  border: 2px solid #fff;
  width: 28%;
  max-height: 100px;
  border-radius: 20px;
  margin-top: 3%;
  margin-left: 3%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.simul_type img {
  width: 110px;
  height: 90px;
  padding: 1px;
  margin-left: 2%;
}

.simul_type p {
  font-size: 2em;
  text-align: center;
  align-items: center;
  margin-top: 10%;
  font-family: "Pretendard-Semibold";
  font-style: italic;
  color: #fff;
}

.simul_typecall {
  margin-top: 2%;
}

.simul_call {
  font-family: "Pretendard-Semibold";
  color: #ffffff;
  font-size: 5em;
}

.simul_timer {
  font-family: "Pretendard-Light";
  color: #ffffff;
  font-size: 3em;
  text-align: center;
}

.simul_profile {
  text-align: center;
}

.simul_profile img {
  width: 180px;
  border-radius: 1000px;
}

.simul_role {
  margin-top: 2%;
  background: linear-gradient(-200deg, #ffba0d, #1a105dbe);
  border: 5px solid #fff;
}
.mikesetting {
  display: flex;
  margin-top: 30px;
  text-align: center;
  justify-content: center;
}

.mikesetting img {
  justify-content: center;
  width: 80px;
  height: 70px;
  cursor: pointer;
}

.setting_div {
  margin: 0 15px 5px 15px;
}

.setting_text {
  color: #fff;
  font-size: 1.2rem;
}

.simul_calloff {
  text-align: center;
  margin-top: 10px;
}

.simul_calloff img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.simul_callimg {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #f94646;
  cursor: pointer;
}

/* script div */

.script {
  text-align: center;
  display: flex;
  justify-content: center;
}

.victim_script {
  width:60vw;
  background-color: #fff;
  border-radius: 20px;
  height: 50vh;
  text-align: center;
  margin: 1%;
  padding: 3%;
}

.victim_scripttext {
  align-items: center;
  font-family:"Pretendard-Regular";
  letter-spacing: 2px;
  line-height: 200%;
  overflow-y: auto;
}