.container {
  background-image: url(img/warning_wallpaper.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
  height: 86.6vh;
  margin-left: 0 auto;
  margin-right: 0 auto;
  font-size: 1em;
}

.inner_container {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
  width: 80vw;
  height: 60vh;
}

.inner_container::-webkit-scrollbar {
  display: none;
}

.inner_container {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}


.guide_refresh_div {
  width: 10vw;
  height: 10vh;
  margin-top: 5%;
  margin-bottom: 0;
  margin-left: 78%;
  justify-content: end;
}

.guide_refresh_div img {
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
  
}

.room_list {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid #b7b7b7; */
  border-radius: 5px;
  min-height: 460px;
  max-height: 460px;
  overflow-y: auto;
}

.room_list::-webkit-scrollbar {
  display: none;
}

.room_container {
  width: 450px;
  height: 130px;
  border: 1px solid #000000;
  background-color: #f9f7f7;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  cursor: pointer;
}

.room_container:hover {
  background-color: #e1dddd;
  transition: all 0.2s;
}

.room_container:disabled {
  cursor: default;
  background-color: #d1d1d1;
}

.room_title {
  width: 400px;
  background-color: #ffe134;
  border: 1px solid #000000;
  border-radius: 20px;
  padding-left: 10px;
  padding-bottom: 2px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.room_container:disabled > .room_title {
  background-color: #a2a2a1;
  color: #b7b7b7;
}

.room_title img {
  width: 20px;
  margin-top: 5px;
}

.room_title p {
  font-family: "Pretendard-Bold";
  font-size: 1.2em;
}

.room_main {
  display: flex;
}

.main_img {
  width: 100px;
  height: 70px;
  border: 0.5px solid #000000;
  border-radius: 10px;
  margin-right: 20px;
}

.main_contents {
  white-space: pre-line;
}

.btn {
  text-align: center;
}

.btn button {
  width: 100px;
  height: 30px;
  background-color: #ffe134;
  border-radius: 10px;
  font-family: "Pretendard-Bold";
  font-size: 1.1em;
  cursor: pointer;
}
