.contents_title {
  padding-top: 47px;
  position: relative;
  top: 90px;
  left: 46.5%;
  font-family: "The_Jamsil_5_Bold";
  font-size: 3.5em;
  color: #000000;
  text-shadow: -4px -4px 0 #ffffff, 4px -4px 0 #ffffff, -4px 4px 0 #ffffff,
    4px 4px 0 #ffffff;
}

.contents_box {
  width: 1000px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 6px 6px 0px #bc830d;
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
}

.answer_box_grid {
  display: flex;
  grid-template-columns: 30% 40% 30%;
}

.blank {
  width: 195px;
}

.answer_box {
  width: 300px;
  height: 150px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 6px 6px 0px #bc830d;
}

.answer_text {
  margin-top: 40px;
  font-family: "Pretendard-Regular";
  font-size: 2.5em;
  text-align: center;
}

.option {
  font-size: 8em;
  font-family: "Pretendard-regular";
  color: #f7b52c;
  text-align: center;
}

.btn_div {
  text-align: center;
}

.start_btn {
  margin-top: 40px;
  background-color: #f7b52c;
  width: 150px;
  height: 50px;
  border: 0;
  box-shadow: 1px 3px 5px #808080;
  border-bottom-color: #d1900e;
  border-radius: 9px;
  font-size: 2.2em;
  font-family: "Pretendard-SemiBold";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
}
