.top_blank {
  height: 5vh;
}

.main_contents {
  background-image: url(img/quiz_main.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  width: 120vh;
  display: grid;
  grid-template-columns: 32vh 57vh 30vh;
  grid-template-rows: 20% 40% 30%;
}

.main_text_grid {
  grid-row-start: 2;
  grid-column-start: 2;
  text-align: center;
  font-family: "The_Jamsil_5_Bold";
  font-size: 4em;
  font-style: italic;
  font-weight: 700;
  color: #f7b52c;
  text-shadow: -4px -4px 0 #ffffff, 4px -4px 0 #ffffff, -4px 4px 0 #ffffff,
    4px 4px 0 #ffffff, 6px 6px 6px gray;
}

.main_btn_grid {
  grid-row-start: 3;
  grid-column-start: 2;
  justify-self: center;
}

.start_btn {
  margin-top: 40px;
  background-color: #f7b52c;
  width: 150px;
  height: 50px;
  border: 0;
  box-shadow: 1px 3px 5px #808080;
  border-bottom-color: #d1900e;
  border-radius: 9px;
  font-size: 2.2em;
  font-family: "Pretendard-SemiBold";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
}
